/* Gobal css sheet for whikham.github.io, made by @edazpotato */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

:root {
  --bg-color: #ffffff;
  --font-color: #121212;
  --em-font-color: #121212;
  --border-color: #218095;
  --gradient-style: radial-gradient(
    circle,
    #f6ff1c,
    #ffdc00,
    #ffb800,
    #ff951a
  );
  --gradient-size: 8px;
  --gradient-shadow: #ffb800;
}


/* apply css variable */
* {
  background-color: var(--bg-color);
  color: var(--font-color);
}

a {
  text-decoration: none;
}
.link {
  color: #23a2fc;
  border-bottom: 1% solid #0f9bdb;
  transition-duration: 1s;
}
.link:hover, .link:focus {
  color: #23b7fc;
  border-bottom: 1% solid #23b7fc;
}
.link:active {
  color: #00d0ff;
  border-bottom: 1% solid #00d0ff;
}
.top {
  background-color: var(--font-color);
  /*height: 10vh;*/
}
.top + h1 {
  background-color: var(--font-color) !important;
  color: var(--bg-color) !important;
}
.topimg {
  background-color: var(--font-color);
}
